

\\dropdown

<div class="dropdown">
	<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
    	Regular
    	<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">Action</a></li>
		<li><a href="#">Another action</a></li>
		<li><a href="#">Something else here</a></li>
		<li class="divider"></li>
		<li><a href="#">Separated link</a></li>
		<li class="divider"></li>
		<li><a href="#">One more separated link</a></li>
	</ul>
</div>
    	
    
   \\inputs With Floating Label
  
 <div class="col-sm-4">
	<div class="form-group label-floating">
		<label class="control-label">With Floating Label</label>
		<input type="email" class="form-control">
	</div>
</div>


\\table


<div class="card">
	<div class="card-header" data-background-color="red">
		<h4 class="title">Table Title</h4>
		<p class="category">Here is a subtitle for this table</p>
	</div>
	<div class="card-content table-responsive table-full-width">
		<table class="table">
			<thead class="text-danger">
				<th>Name</th>
				<th>Country</th>
				<th>City</th>
				<th>Salary</th>
			</thead>
			<tbody>
				<tr>
					<td>Dakota Rice</td>
					<td>Niger</td>
					<td>Oud-Turnhout</td>
					<td class="text-danger">$36,738</td>
				</tr>
				<tr>
					<td>Minerva Hooper</td>
					<td>Curaçao</td>
					<td>Sinaai-Waas</td>
					<td class="text-danger">$23,789</td>
				</tr>
				<tr>
					<td>Sage Rodriguez</td>
					<td>Netherlands</td>
					<td>Baileux</td>
					<td class="text-danger">$56,142</td>
				</tr>
				<tr>
					<td>Philip Chaney</td>
					<td>Korea, South</td>
					<td>Overland Park</td>
					<td class="text-danger">$38,735</td>
				</tr>
				<tr>
					<td>Doris Greene</td>
					<td>Malawi</td>
					<td>Feldkirchen in Kärnten</td>
					<td class="text-danger">$63,542</td>
				</tr>
				<tr>
					<td>Mason Porter</td>
					<td>Chile</td>
					<td>Gloucester</td>
					<td class="text-danger">$78,615</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>



\\cards stats


<div class="card card-stats">
	<div class="card-header" data-background-color="orange">
		<i class="material-icons">content_copy</i>
	</div>
	<div class="card-content">
		<p class="category">Used Space</p>
		<h3 class="title">49/50<small>GB</small></h3>
	</div>
	<div class="card-footer">
		<div class="stats">
			<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
		</div>
	</div>
</div>

